* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: lightgray;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Lato-Regular";
}

.card-infos {
    width: 20%;
    min-width: 400px;
    height: 20%;
    min-height: 200px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    border: solid 1px gray;
    padding: 7px;
}

.title {
    margin: 5px;
}

.result {
    margin: 5px;
}